ASPNETCORE_ENVIRONMENT=Development
PREMIUM_CONNECTION_STRING=Server=host.docker.internal,1433;Database=premium_db;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True;Encrypt=False
JWT_ISSUER=Insurance.Identity
JWT_AUDIENCE=Insurance.Services
JWT_KEY=DevelopmentOnlyChangeThisJwtSigningKey123!
